{% extends 'core/base.html' %}
{% block content %}
    <div class="container mt-5">
        <h1 class="text-warning mb-5 border-bottom">WORKS</h1>

        <div class="row text-white text-center mb-5">
            <div class="col-sm-4 border">
                <i class="fas fa-search-dollar fa-2x mb-3"></i>
                <h3>SEO</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id illum quaerat voluptatem.</p>
            </div>
            <div class="col-sm-4 border">
                <i class="fas fa-search-dollar fa-2x mb-3"></i>
                <h3>SEO</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id illum quaerat voluptatem.</p>
            </div>
            <div class="col-sm-4 border">
                <i class="fas fa-search-dollar fa-2x mb-3"></i>
                <h3>SEO</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id illum quaerat voluptatem.</p>
            </div>
        </div>
    <div class="row text-white text-center mb-5">
            <div class="col-sm-4 border">
                <i class="fas fa-search-dollar fa-2x mb-3"></i>
                <h3>SEO</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id illum quaerat voluptatem.</p>
            </div>
            <div class="col-sm-4 border">
                <i class="fas fa-search-dollar fa-2x mb-3"></i>
                <h3>SEO</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id illum quaerat voluptatem.</p>
            </div>
            <div class="col-sm-4 border">
                <i class="fas fa-search-dollar fa-2x mb-3"></i>
                <h3>SEO</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id illum quaerat voluptatem.</p>
            </div>
        </div>

    <div class="row text-white text-center mb-5">
            <div class="col-sm-4 border">
                <i class="fas fa-search-dollar fa-2x mb-3"></i>
                <h3>SEO</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id illum quaerat voluptatem.</p>
            </div>
            <div class="col-sm-4 border">
                <i class="fas fa-search-dollar fa-2x mb-3"></i>
                <h3>SEO</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id illum quaerat voluptatem.</p>
            </div>
            <div class="col-sm-4 border">
                <i class="fas fa-search-dollar fa-2x mb-3"></i>
                <h3>SEO</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id illum quaerat voluptatem.</p>
            </div>
        </div>

    </div>
{% endblock content %}